@{
    ViewBag.Title = "StackApp - HomePage";
}

<div class="jumbotron">
    <h1>StackTags</h1>
    <p class="lead">StackTags is app that show list of 1000 most popular tags on stackoverflow with their counts and percentage usage.</p>
    <p><a href="/TagsDownload" class="btn btn-primary btn-lg">Show Tags &raquo;</a></p>
</div>

<div class="row">
    
</div>